torch==2.4.0 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.19.0 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.4.0 --index-url https://download.pytorch.org/whl/cu121
peft
accelerate
deepspeed
lightning
wandb
numpy
pandas
opencv-python
pytorch-lightning
huggingface_hub[cli]
datasets
shapely
oss2
geojson
pyproj
tqdm
xmltodict
